[textdomain]
	path=data/add-ons/The_Devils_Flute/translations
	name=wesnoth-The_Devils_Flute
[/textdomain]

#textdomain wesnoth-The_Devils_Flute

[campaign]
	id=The_Devils_Flute
	abbrev=_ "TDF"
	name=_ "The Devil's Flute"
	define=THE_DEVILS_FLUTE
	difficulties=EASY,NORMAL,HARD
	image="portraits/humans/transparent/assassin+female.png"
	description=_ "Creona, the well-known assassin, gets a strange job from a strange person. So, in fact, it's no surprise that things take a strange turn...
	
??? level, 10 scenarios (2 text-only)"
	first_scenario=The_Appointment
	difficulty_descriptions={MENU_IMG_TXT2 "units/human-outlaws/thief+female.png~RC(magenta>brown)" _"difficulty_menu^Apprentice" _"(Easy)"} + ";*" + {MENU_IMG_TXT2 "units/human-outlaws/rogue+female.png~RC(magenta>brown)" _"difficulty_menu^Experienced" _"(Normal)"} + ";" + {MENU_IMG_TXT2 "units/human-outlaws/assassin+female.png~RC(magenta>brown)" _"difficulty_menu^Virtuoso" _"(Difficult)"}
	icon=data/add-ons/The_Devils_Flute/images/misc/tdf-icon.png
	
	[about]
		title=_ "Campaign design, coding and some franken-art"
		[entry]
			name=_ "lipk"
		[/entry]
	[/about]
	[about]
		title=_ "WML assistance"
		[entry]
			name=_ "Sapient"
		[/entry]
		[entry]
			name=_ "Alarantalara"
		[/entry]
	[/about]
	[about]
		title=_ "Non-mainline music"
		[entry]
			name=_ "West"
		[/entry]
		[entry]
			name=_ "a3deap"
		[/entry]
		[entry]
			name=_ "lipk"
		[/entry]
	[/about]
	[about]
		title=_ "Random code & content copied from"
		[entry]
			name=_ "'Invasion from the Unknown' by shadowmaster"
		[/entry]
		[entry]
			name=_ "'RPG Resources' by PapaSmurfReloaded"
		[/entry]
		[entry]
			name=_ "'RPG Creation Kit' by Bob_The_Mighty"
		[/entry]
	[/about]
[/campaign]

#ifdef EDITOR
[binary_path]
    path="data/add-ons/The_Devils_Flute"
[/binary_path]
{~add-ons/The_Devils_Flute/utils}
{~add-ons/The_Devils_Flute/terrain}
[editor_group]
    id=tdf
    name= _ "The Devil's Flute"
    icon="group_custom"
[/editor_group]
#endif

#ifdef THE_DEVILS_FLUTE
[binary_path]
	path=data/add-ons/The_Devils_Flute
[/binary_path]

[+units]
	{~add-ons/The_Devils_Flute/units}
[/units]

{~add-ons/The_Devils_Flute/utils}
{~add-ons/The_Devils_Flute/terrain}
{~add-ons/The_Devils_Flute/scenarios}
#endif
